<table class="table">
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= today_book.count %></td>
      <td><%= yesterday_book.count %></td>
      <td>
        <% if yesterday_book.count == 0 %>
          <td>前日の投稿はありません</td>
        <% else %>
          <% the_day_before = today_book.count / yesterday_book.count.to_f %>
          <%= (the_day_before * 100).round %>
        <% end %>
      </td>
      <td></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th>今週の投稿</th>
      <th>先週の投稿</th>
      <th>比</th>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td><%= this_week_book.count %></td>
      <td><%= last_week_book.count %></td>
      <% if last_week_book.count == 0 %>
        <td>先週の投稿はありません</td>
      <% else %>
        <td>
          <% the_week_before = this_week_book.count / last_week_book.count.to_f %>
          <%= (the_week_before * 100).round %>
        </td>
      <% end %>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>６日前</td>
      <td>５日前</td>
      <td>４日前</td>
      <td>３日前</td>
      <td>２日前</td>
      <td>昨日</td>
      <td>今日</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td><%= books.created_day_ago(6).count %></td>
      <td><%= books.created_day_ago(5).count %></td>
      <td><%= books.created_day_ago(4).count %></td>
      <td><%= books.created_day_ago(3).count %></td>
      <td><%= books.created_day_ago(2).count %></td>
      <td><%= yesterday_book.count %></td>
      <td><%= today_book.count %></td>
    </tr>
  </tbody>
</tabel>
 
<canvas id="myChart" width="400" height="400"></canvas>
  <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ['６日前','５日前','４日前','３日前','２日前','今日'],
          datasets:[{
              label: '投稿した本の数',
              data: [
                <%= books.created_day_ago(6).count %>,
                <%= books.created_day_ago(5).count %>,
                <%= books.created_day_ago(4).count %>,
                <%= books.created_day_ago(3).count %>,
                <%= books.created_day_ago(2).count %>,
                <%= yesterday_book.count %>,
                <%= today_book.count %>
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(54, 102, 86, 1)',
              ],
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(54, 102, 86, 0.2)',
              ],
              tensions: 0.4
            }
          ],
        },
        options: {
          title: {
            display: true,
            text: '７日間の投稿数の比較'
          },
          scales: {
            y:{
              suggestedMin: 0,
              suggestedMax: 10
            },
            x:{
              stacked: true
            },
          },
        }
      });
  </script>
 
 